.test-panel {
    background-color: blue;
}

.module {
    background-color: blue;
}

.overlap {
    position: absolute; 
    z-index: 10;
}

th {
    padding: 0px !important;
}

.over {
    display: block;
    z-index: 30;
}

.week-labels {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.jsinput {
    border: none;
    background: transparent;
    position: absolute;
    bottom: -36px;
}

.jsinput:focus {
    outline: none;
}

input[type="number"] {
    font-size: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.under {
    display: block;
    z-index: 20;
}

.box-label {
    margin: 0px !important;
    padding: 0px !important;
}

.cell-wide {
    text-align: right;
}

.th-vert {
    text-align: right;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #dee2e6;
    width: 20%;
}

.th-top {
    text-align: right;
}

@media (max-width: 600px) {
    .tablet-desktop-size {
        display: none;
    }
}

@media (min-width: 601px) {
    .mobile-size {
        display: none;
    }
}

.week-hidden {
    visibility: hidden;
}

.week {
    margin: 0px !important
}

.week-btn {
    border-radius: 20px;
}

.week-btn:hover {
    background-color: #7777;
}

input[type="text"] {
    background-color: #F5F8FA;
}
.row-week-select {
    margin-left: 10px;
    margin-right: 10px;
}

tr {
    height: 30px !important;
}

td {
    padding: 0px !important;
    vertical-align: middle !important;
}

.total {
    vertical-align: middle;
    padding-left: 12px !important;
    font-weight: bold;
}

.panel-data {
    padding: 0px !important;
}

.info-card {
    background-color: #28B473;
}

.data-div {
    padding: 15px;
}

.data-div h4 {
    color: #fff !important;
}

.cell-input {
    max-width: 170px;
    border-radius: 0px;
    margin: 0px;
    border: none;
    box-shadow: none;
}

::placeholder {
    color: #636B6F !important;
    opacity: 1 !important;
}
